.App {
  text-align: center;
}

h1 {
  color: rgba(255, 255, 255, 0.573);
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  font-weight: 700;
}

.display-block {
  display: block!important;
}

.display-none {
  display: none!important;
}

.dailyWord {
  font-family: 'Luckiest Guy', cursive;
  color: #5cb85c;
}

.game-over {
  background-color: rgb(169, 6, 6)!important;
}